<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='trgu.css')}}">
        <link rel="icon" href="{{ url_for('static', filename='icon.png')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
              rel="stylesheet"
              href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
              integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
              crossorigin=""
            />

            <script
              src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
              integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
              crossorigin=""
            ></script>
        <title>Data Science Project</title>
    </head>

    <body>

        <header>

        </header>

        <section>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('project') }}">See stations in details</a></li>
                    <li class= selected><a href="{{ url_for('maps') }}">See times in details</a></li>
                    <li><a href="{{ url_for('presentation') }}">About the Project</a></li>
                </ul>
            </nav>
            <div class = main>
            <div class=map>

                    <h1>Times in details</h1>
                    <p>Here, you can look at a map showing our predictions for a chosen time in the next 6 hours.<br>See the <a href="{{ url_for('presentation') }}">About-page </a>to learn how these predictions were made.</p><br>

                    <form action="{{ url_for('maps') }}">
                        <label for="time">Which time do you want to see : </label>
                        <select class = select_time id="time" name="time">
                            {% for key,value in times.iterrows() %}
                                <option value ='{{ key }}' >{{ value[0] }}</option>
                            {% endfor %}
                        </select><br>
                        <input type="submit" value="See the map"><br>
                      </form>
                    <p>Time on the map : {{ selected }}</p>
                    <div id="map"></div>
                    <script>
                        var map = L.map('map',{
                        center: [60.192059, 24.945831],
                        zoom: 12
                        });

                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(map);

                        var bikeIcon = L.icon({
                            iconUrl: 'https://i.ibb.co/JpDjjbr/map-icon.png',
                            iconSize: [50, 50],
                            });
                        var bikeIcon_red = L.icon({
                            iconUrl: 'https://i.ibb.co/9hz1LHS/map-icon-red.png',
                            iconSize: [50, 50],
                            });
                        var bikeIcon_violet = L.icon({
                            iconUrl: 'https://i.ibb.co/YjNcw7G/map-icon-violet.png',
                            iconSize: [50, 50],
                            });


                        {% for key,value in stations_coord.items() %}
                            {% if value['stationId'] in bike_list %}
                                {% set id_int = value['stationId'] %}
                                {% if bikes.loc[bikes['stationId'] == id_int ]['bikesAvailable'].iloc[0] < 4 %}
                                    new L.marker([{{ value['lat'] }}, {{ value['lon'] }}], {icon: bikeIcon_red}).bindPopup('<center>{{ value['name'] }}<br>ID {{ value['stationId'] }}<br>{{ bikes.loc[bikes['stationId']==value['stationId']]['bikesAvailable'].iloc[0] }} bikes available<br>{{ bikes.loc[bikes['stationId']==value['stationId']]['spacesAvailable'].iloc[0] }} spaces available</center>').addTo(map);
                                {% elif (bikes.loc[bikes['stationId']== id_int ]['capacity'].iloc[0] == 0)and(bikes.loc[bikes['stationId']==value['stationId']]['bikesAvailable'].iloc[0] >= bikes.loc[bikes['stationId']==value['stationId']]['bikesAvailable'].iloc[0] + bikes.loc[bikes['stationId']==value['stationId']]['spacesAvailable'].iloc[0] + 10) %}
                                    new L.marker([{{ value['lat'] }}, {{ value['lon'] }}], {icon: bikeIcon_violet}).bindPopup('<center>{{ value['name'] }}<br>ID {{ value['stationId'] }}<br>{{ bikes.loc[bikes['stationId']==value['stationId']]['bikesAvailable'].iloc[0] }} bikes available<br>{{ bikes.loc[bikes['stationId']==value['stationId']]['spacesAvailable'].iloc[0] }} spaces available<br>{{ -(bikes.loc[bikes['stationId']==value['stationId']]['capacity'].iloc[0] - bikes.loc[bikes['stationId']==value['stationId']]['bikesAvailable'].iloc[0]) }} extra bikes</center>').addTo(map);
                                {% elif (bikes.loc[bikes['stationId']== id_int ]['capacity'].iloc[0] != 0)and(bikes.loc[bikes['stationId']==value['stationId']]['bikesAvailable'].iloc[0] >= bikes.loc[bikes['stationId']==value['stationId']]['capacity'].iloc[0] + 10) %}
                                    new L.marker([{{ value['lat'] }}, {{ value['lon'] }}], {icon: bikeIcon_violet}).bindPopup('<center>{{ value['name'] }}<br>ID {{ value['stationId'] }}<br>{{ bikes.loc[bikes['stationId']==value['stationId']]['bikesAvailable'].iloc[0] }} bikes available<br>{{ bikes.loc[bikes['stationId']==value['stationId']]['spacesAvailable'].iloc[0] }} spaces available<br>{{ -(bikes.loc[bikes['stationId']==value['stationId']]['capacity'].iloc[0] - bikes.loc[bikes['stationId']==value['stationId']]['bikesAvailable'].iloc[0]) }} extra bikes</center>').addTo(map);
                                {% else %}
                                    new L.marker([{{ value['lat'] }}, {{ value['lon'] }}], {icon: bikeIcon}).bindPopup('<center>{{ value['name'] }}<br>ID {{ value['stationId'] }}<br>{{ bikes.loc[bikes['stationId']==value['stationId']]['bikesAvailable'].iloc[0] }} bikes available<br>{{ bikes.loc[bikes['stationId']==value['stationId']]['spacesAvailable'].iloc[0] }} spaces available</center>').addTo(map);
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        var legend = L.control({position: 'bottomright'});
                        legend.onAdd = function (map) {

                            var div = L.DomUtil.create('div', 'info legend'),
                                grades = ["Stations with more than 4 bikes and spaces available","Stations with less than 4 bikes available", "Stations with 10 or more extra bikes"],
                                labels = ["https://i.ibb.co/JpDjjbr/map-icon.png","https://i.ibb.co/9hz1LHS/map-icon-red.png","https://i.ibb.co/YjNcw7G/map-icon-violet.png"];

                            // loop through our density intervals and generate a label with a colored square for each interval
                            for (var i = 0; i < grades.length; i++) {
                                div.innerHTML +=
                                        (" <img src="+ labels[i] +" height='50' width='50'>") + grades[i] +'<br>';
                            }

                            return div;
                        };

                        legend.addTo(map);

                    </script>
                </div></div>
            </section>
        <footer>
            <p>Made by Antti Kosonen, Lea Krautheimer  & Katia Chardon in Autumn 2021</p>
        </footer>
    </body>

</html>
